*.png
*.blend1
PartModels/**/*.mu
PartModels/**/*.cfg
PartModels/**/*.dds
GameData/**/*.blend
GameData/**/*.xcf
GameData/**/*_flipped.dds
doc/.$CP1 contracts.drawio.bkp
doc/.$CP1 contracts.drawio.dtmp
